*{margin: 0; padding: 0;}

body{
    background-image: linear-gradient(rgb(112, 173, 238), white );
}
h3 {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}
img{

    border-radius: 8px;
    margin-left:330px;
    width: 50%;
    height: 200px;
}

#painel {
    width: 80%;
    margin-left: 50px;
}

#container {
    display: inline-block;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    display: inline-block;
    margin-left: 550px;
    margin: 10px 200px;
    padding:  10px;
}